<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Vị trí hiện tại của tài xế
    <small></small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol> -->
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-lg-4 col-xs-6 city-btn" id="map-hcm-btn">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>Ho Chi Minh</h3>
          <p>Tổng số: 75 xe</p>
          <p>Đang di chuyển:  60 xe</p>
        </div>
        <div class="icon">
          <i class="ion ion-model-s"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6 city-btn" id="map-dn-btn">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>Da Nang</h3>
          <p>Tổng số: 30 xe</p>
          <p>Đang di chuyển:  28 xe</p>
        </div>
        <div class="icon">
          <i class="ion ion-model-s"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6 city-btn" id="map-hn-btn">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>Ha Noi</h3>
          <p>Tổng số: 50 xe</p>
          <p>Đang di chuyển:  40 xe</p>
        </div>
        <div class="icon">
          <i class="ion ion-model-s"></i>
        </div>
      </div>
    </div>
  </div>
  {{!-- maps --}}
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div id="current-position-map">
              </div>
              <!-- /.chart-responsive -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
<div class="row">
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Tài xế</th>
          <th>Phone</th>
          <th>Biển số</th>
          <th>Vị trí</th>
          <th>Total(km)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="./profile">Lâm Quí Việt</a></td>
          <td>815-425-9176</td>
          <td>319-26-XXXX</td>
          <td>3 Trần Não, Khu phố 2, Bình An, Quận 2, Hồ Chí Minh, Việt Nam...</td>
          <td>1266</td>
        </tr>
        <tr>
          <td><a href="./profile">Lý Quang Tần</a></td>
          <td>317-640-0406</td>
          <td>314-27-XXXX</td>
          <td>Song Hành, Khu đô thị mới An Phú - An Khánh, An Phú, Quận 2, Hồ Chí Minh, Việt Nam ..</td>
          <td>3230</td>
        </tr>
        <tr>
          <td><a href="./profile">Bùi Trọng Tuyến</a></td>
          <td>706-350-0039</td>
          <td>667-24-XXXX</td>
          <td>Song Hành, Khu đô thị mới An Phú - An Khánh, An Phú, Quận 2, Hồ Chí Minh, Việt Nam ..</td>
          <td>1357</td>
        </tr>
        <tr>
          <td><a href="./profile">Lâm Cẩm My</a></td>
          <td>410-477-6462</td>
          <td>220-05-XXXX</td>
          <td>Song Hành, Khu đô thị mới An Phú - An Khánh, An Phú, Quận 2, Hồ Chí Minh, Việt Nam ..</td>
          <td>2014</td>
        </tr>
        <tr>
          <td><a href="./profile">Tạ Năng Nghiêm</a></td>
          <td>716-844-7852</td>
          <td>112-54-XXXX</td>
          <td>Trần Não, Thảo Điền, Quận 2, Hồ Chí Minh, Việt Nam ..</td>
          <td>3869</td>
        </tr>
        <tr>
          <td><a href="./profile">Vũ Thị Ngọc Nhứt</a></td>
          <td>214-220-4345</td>
          <td>456-09-XXXX</td>
          <td>Cầu Sài Gòn, P. Bình An, Q. 2, TP. Hồ Chí Minh .</td>
          <td>4037</td>
        </tr>
        <tr>
          <td><a href="./profile">Trần Đình Ngọt</a></td>
          <td>818-640-7441</td>
          <td>566-41-XXXX</td>
          <td>Cầu Sài Gòn, phường 22, Bình Thạnh, Hồ Chí Minh, Việt Nam ..</td>
          <td>3497</td>
        </tr>
        <tr>
          <td><a href="./profile">Liễu Hữu Tâm</a></td>
          <td>541-596-5418</td>
          <td>540-84-XXXX</td>
          <td>Cầu Sài Gòn, phường 22, Bình Thạnh, Hồ Chí Minh, Việt Nam ..</td>
          <td>4696</td>
        </tr>
        <tr>
          <td><a href="./profile">Lưu Cẩm Út</a></td>
          <td>610-499-6207</td>
          <td>188-58-XXXX</td>
          <td>..</td>
          <td>2243</td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
</section>
<!-- /.content -->
{{#extend 'scripts'}}
  <!-- Sparkline -->
  <script src="/admin/plugins/sparkline/jquery.sparkline.min.js"></script>
  <!-- ChartJS 1.0.1 -->
  <script src="/admin/plugins/chartjs/Chart.min.js"></script>
  <!-- GG maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhehXXECcJjUtpmoBgcIcypzwwLgR0sSg"></script>
  <!-- GMaps.js -->
  <script src="/admin/plugins/GMaps/gmaps.js"></script>
  <!-- current-position.js -->
  <script src="/admin/scripts/current-position.js"></script>
  <!-- DataTables -->
  <script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/admin/plugins/datatables/dataTables.bootstrap.min.js"></script>

  <script src="/admin/plugins/moment.js/moment.min.js"></script>
  <script src="/admin/plugins/daterangepicker/daterangepicker.js"></script>
  <!-- page script -->
  <script>
    $(function () {
      $("#example1").DataTable();
      $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });
    });

  </script>
{{/extend}}
