<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-3">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Tổng Impression</span>
          <span class="info-box-number">21,091,350</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Tổng KM đã chạy</span>
          <span class="info-box-number">281,218</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Tổng tài xế</span>
          <span class="info-box-number">52</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9 col-sm-9 col-xs-9">
      <!-- MAP & BOX PANE -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Heat map</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div id="map"></div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /.row -->
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-8">
      <!-- BAR CHART -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Thống kê km theo tháng</h3>
        </div>
        <div class="box-body">
          <div class="chart">
            <canvas id="barChart" style="height:400px"></canvas>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <div class="col-md-4">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Số KM theo khu vực </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-8">
              <div class="chart-responsive">
                <canvas id="pieChart" height="400"></canvas>
              </div>
              <!-- ./chart-responsive -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <ul class="chart-legend clearfix">
                <li><i class="fa fa-circle-o text-red"></i> Quận 7</li>
                <li><i class="fa fa-circle-o text-green"></i> Quận Tân Bình</li>
                <li><i class="fa fa-circle-o text-yellow"></i> Quận 1</li>
                <li><i class="fa fa-circle-o text-aqua"></i> Quận Bình Thạnh</li>
                <li><i class="fa fa-circle-o text-light-blue"></i> Quận 2</li>
                <li><i class="fa fa-circle-o text-gray"></i> Quận 3</li>
              </ul>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
        {{!--
        <div class="box-footer no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">United States of America
              <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span></a></li>
            <li><a href="#">India <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a>
            </li>
            <li><a href="#">China
              <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>
          </ul>
        </div> --}}
        <!-- /.footer -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
<!-- /.content -->
{{#extend 'scripts'}}
<!-- jvectormap -->
<script src="/admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="/admin/plugins/chartjs/Chart.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/admin/admin-lte/js/pages/dashboard3.js"></script>
<!-- page script -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5aa4uYP35sVK0tnEATDJeWD4jMA7z_9U&libraries=visualization&callback=initMap">
</script>
<script>
  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */
    //-------------
    //- BAR CHART -
    //-------------

    var areaChartData = {
      labels: ["01/2016", "02/2016", "03/2016", "04/2016", "05/2016", "06/2016", "07/2016", "08/2016", "09/2016", "10/2016", "11/2016", "12/2016", "01/2017", "02/2017", "03/2017", "04/2017", "05/2017", "06/2017", "07/2017"],
      datasets: [
        {
          label: "Electronics",
          fillColor: "rgba(210, 214, 222, 1)",
          strokeColor: "rgba(210, 214, 222, 1)",
          pointColor: "rgba(210, 214, 222, 1)",
          pointStrokeColor: "#c1c7d1",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: [1189, 646, 750, 1252, 747, 1109, 798, 1146, 1085, 1487, 973, 571, 540, 493, 1041, 731, 1484, 712, 819]
        },
        {
          label: "Digital Goods",
          fillColor: "rgba(60,141,188,0.9)",
          strokeColor: "rgba(60,141,188,0.8)",
          pointColor: "#3b8bba",
          pointStrokeColor: "rgba(60,141,188,1)",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(60,141,188,1)",
          data: [605, 766, 825, 1224, 904, 449, 1388, 567, 517, 1027, 643, 414, 1315, 1164, 535, 1270, 985, 874, 1087]
        }
      ]
    };
    var barChartCanvas = $("#barChart").get(0).getContext("2d");
    var barChart = new Chart(barChartCanvas);
    var barChartData = areaChartData;
    barChartData.datasets[1].fillColor = "#00a65a";
    barChartData.datasets[1].strokeColor = "#00a65a";
    barChartData.datasets[1].pointColor = "#00a65a";
    var barChartOptions = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero: true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines: true,
      //String - Colour of the grid lines
      scaleGridLineColor: "rgba(0,0,0,.05)",
      //Number - Width of the grid lines
      scaleGridLineWidth: 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines: true,
      //Boolean - If there is a stroke on each bar
      barShowStroke: true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth: 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing: 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing: 1,
      //String - A legend template
      legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
      //Boolean - whether to make the chart responsive
      responsive: true,
      maintainAspectRatio: true
    };

    barChartOptions.datasetFill = false;
    barChart.Bar(barChartData, barChartOptions);
  });

</script>
 <script>
  // This example requires the Visualization library. Include the libraries=visualization
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

  var map, heatmap;

  var hcm_default = {
    lat: 10.8282319,
    lng: 106.6694527,
    zoom: 13
  }
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: { lat: hcm_default.lat, lng: hcm_default.lng },
      mapTypeId: 'satellite'
    });

    heatmap = new google.maps.visualization.HeatmapLayer({
      data: getPoints(),
      map: map
    });
  }
  // Heatmap data: 500 Points
  function getPoints() {
    return [
      new google.maps.LatLng(10.822551, 106.705368),
      new google.maps.LatLng(10.822745, 106.704586),
      new google.maps.LatLng(10.822842, 106.703688),
      new google.maps.LatLng(10.822919, 106.702815),
      new google.maps.LatLng(10.822992, 106.702112),
      new google.maps.LatLng(10.823100, 106.701461),
      new google.maps.LatLng(10.823206, 106.700829),
      new google.maps.LatLng(10.823273, 106.700324),
      new google.maps.LatLng(10.823316, 106.700023),
      new google.maps.LatLng(10.823357, 106.699794),
      new google.maps.LatLng(10.823371, 106.699687),
      new google.maps.LatLng(10.823368, 106.699666),
      new google.maps.LatLng(10.823383, 106.699594),
      new google.maps.LatLng(10.823508, 106.699525),
      new google.maps.LatLng(10.823842, 106.699591),
      new google.maps.LatLng(10.824147, 106.699668),
      new google.maps.LatLng(10.824206, 106.699686),
      new google.maps.LatLng(10.824386, 106.699790),
      new google.maps.LatLng(10.824701, 106.699902),
      new google.maps.LatLng(10.824965, 106.699938),
      new google.maps.LatLng(10.825010, 106.699947),
      new google.maps.LatLng(10.825360, 106.699952),
      new google.maps.LatLng(10.825715, 106.700030),
      new google.maps.LatLng(10.826117, 106.700119),
      new google.maps.LatLng(10.826564, 106.700209),
      new google.maps.LatLng(10.826905, 106.700270),
      new google.maps.LatLng(10.826956, 106.700279),
      new google.maps.LatLng(10.840224, 106.693520),
      new google.maps.LatLng(10.840155, 106.694101),
      new google.maps.LatLng(10.840160, 106.694430),
      new google.maps.LatLng(10.840378, 106.694527),
      new google.maps.LatLng(10.840738, 106.694598),
      new google.maps.LatLng(10.840938, 106.694650),
      new google.maps.LatLng(10.841024, 106.694889),
      new google.maps.LatLng(10.840955, 106.695392),
      new google.maps.LatLng(10.840886, 106.695959),
      new google.maps.LatLng(10.840811, 106.696275),
      new google.maps.LatLng(10.840788, 106.696299),
      new google.maps.LatLng(10.840719, 106.696302),
      new google.maps.LatLng(10.840702, 106.696298),
      new google.maps.LatLng(10.840661, 106.696273),
      new google.maps.LatLng(10.840395, 106.696172),
      new google.maps.LatLng(10.840228, 106.696116),
      new google.maps.LatLng(10.840169, 106.696130),
      new google.maps.LatLng(10.840066, 106.696167),
      new google.maps.LatLng(10.824345, 106.682922),
      new google.maps.LatLng(10.824389, 106.682926),
      new google.maps.LatLng(10.824437, 106.682924),
      new google.maps.LatLng(10.824746, 106.682818),
      new google.maps.LatLng(10.825436, 106.682959),
      new google.maps.LatLng(10.826120, 106.683112),
      new google.maps.LatLng(10.826433, 106.683029),
      new google.maps.LatLng(10.826631, 106.681213),
      new google.maps.LatLng(10.826660, 106.681033),
      new google.maps.LatLng(10.826801, 106.680141),
      new google.maps.LatLng(10.826823, 106.680034),
      new google.maps.LatLng(10.826831, 106.679916),
      new google.maps.LatLng(10.827034, 106.678208),
      new google.maps.LatLng(10.827056, 106.678034),
      new google.maps.LatLng(10.827169, 106.677145),
      new google.maps.LatLng(10.827217, 106.676715),
      new google.maps.LatLng(10.826144, 106.676403),
      new google.maps.LatLng(10.825292, 106.676257),
      new google.maps.LatLng(10.820666, 106.650374),
      new google.maps.LatLng(10.820501, 106.651281),
      new google.maps.LatLng(10.820148, 106.652052),
      new google.maps.LatLng(10.820173, 106.651148),
      new google.maps.LatLng(10.820693, 106.650592),
      new google.maps.LatLng(10.821261, 106.651142),
      new google.maps.LatLng(10.821808, 106.651730),
      new google.maps.LatLng(10.822340, 106.652341),
      new google.maps.LatLng(10.822812, 106.653022),
      new google.maps.LatLng(10.823300, 106.653672),
      new google.maps.LatLng(10.823809, 106.654275),
      new google.maps.LatLng(10.824246, 106.654979),
      new google.maps.LatLng(10.824791, 106.655958),
      new google.maps.LatLng(10.825675, 106.656746),
      new google.maps.LatLng(10.826262, 106.655780),
      new google.maps.LatLng(10.826776, 106.655093),
      new google.maps.LatLng(10.827282, 106.654426),
      new google.maps.LatLng(10.827783, 106.653767),
      new google.maps.LatLng(10.828343, 106.653184),
      new google.maps.LatLng(10.828895, 106.652506),
      new google.maps.LatLng(10.829371, 106.651701),
      new google.maps.LatLng(10.829722, 106.650952),
      new google.maps.LatLng(10.810315, 106.650305),
      new google.maps.LatLng(10.810738, 106.649616),
      new google.maps.LatLng(10.979448, 106.698702),
      new google.maps.LatLng(10.979023, 106.698585),
      new google.maps.LatLng(10.978542, 106.698492),
      new google.maps.LatLng(10.978100, 106.698411),
      new google.maps.LatLng(10.977986, 106.698376),
      new google.maps.LatLng(10.977680, 106.698313),
      new google.maps.LatLng(10.977316, 106.698273),
      new google.maps.LatLng(10.977135, 106.698254),
      new google.maps.LatLng(10.976987, 106.698303),
      new google.maps.LatLng(10.976946, 106.698404),
      new google.maps.LatLng(10.976944, 106.698467),
      new google.maps.LatLng(10.976892, 106.698459),
      new google.maps.LatLng(10.976842, 106.698442),
      new google.maps.LatLng(10.976822, 106.698391),
      new google.maps.LatLng(10.976814, 106.698412),
      new google.maps.LatLng(10.976787, 106.698628),
      new google.maps.LatLng(10.976729, 106.698650),
      new google.maps.LatLng(10.976759, 106.698677),
      new google.maps.LatLng(10.976772, 106.698498),
      new google.maps.LatLng(10.976787, 106.698389),
      new google.maps.LatLng(10.976848, 106.698283),
      new google.maps.LatLng(10.976870, 106.698239),
      new google.maps.LatLng(10.977015, 106.698198),
      new google.maps.LatLng(10.977333, 106.698256),
      new google.maps.LatLng(10.977595, 106.698308),
      new google.maps.LatLng(10.977797, 106.698344),
      new google.maps.LatLng(10.978160, 106.698442),
      new google.maps.LatLng(10.978414, 106.698508),
      new google.maps.LatLng(10.978445, 106.698516),
      new google.maps.LatLng(10.978503, 106.698529),
      new google.maps.LatLng(10.978607, 106.698549),
      new google.maps.LatLng(10.978670, 106.698644),
      new google.maps.LatLng(10.978847, 106.698706),
      new google.maps.LatLng(10.979240, 106.698744),
      new google.maps.LatLng(10.979738, 106.698822),
      new google.maps.LatLng(10.820201, 106.698882),
      new google.maps.LatLng(10.820400, 106.698905),
      new google.maps.LatLng(10.820501, 106.698921),
      new google.maps.LatLng(10.820892, 106.698986),
      new google.maps.LatLng(10.821446, 106.699087),
      new google.maps.LatLng(10.821985, 106.699199),
      new google.maps.LatLng(10.822239, 106.699249),
      new google.maps.LatLng(10.822286, 106.699266),
      new google.maps.LatLng(10.817847, 106.689388),
      new google.maps.LatLng(10.817874, 106.689180),
      new google.maps.LatLng(10.817885, 106.689069),
      new google.maps.LatLng(10.817887, 106.689050),
      new google.maps.LatLng(10.817933, 106.688954),
      new google.maps.LatLng(10.818242, 106.688990),
      new google.maps.LatLng(10.818617, 106.689075),
      new google.maps.LatLng(10.818719, 106.689092),
      new google.maps.LatLng(10.818944, 106.689145),
      new google.maps.LatLng(10.819320, 106.689251),
      new google.maps.LatLng(10.819590, 106.689309),
      new google.maps.LatLng(10.819677, 106.689324),
      new google.maps.LatLng(10.819966, 106.689360),
      new google.maps.LatLng(10.840288, 106.689430),
      new google.maps.LatLng(10.840443, 106.689461),
      new google.maps.LatLng(10.840465, 106.689474),
      new google.maps.LatLng(10.840644, 106.689540),
      new google.maps.LatLng(10.840948, 106.689620),
      new google.maps.LatLng(10.841242, 106.689685),
      new google.maps.LatLng(10.841375, 106.689702),
      new google.maps.LatLng(10.841400, 106.689703),
      new google.maps.LatLng(10.841453, 106.689707),
      new google.maps.LatLng(10.841473, 106.689709),
      new google.maps.LatLng(10.841532, 106.689707),
      new google.maps.LatLng(10.841852, 106.689729),
      new google.maps.LatLng(10.842173, 106.689789),
      new google.maps.LatLng(10.842459, 106.689847),
      new google.maps.LatLng(10.842554, 106.689825),
      new google.maps.LatLng(10.842647, 106.689549),
      new google.maps.LatLng(10.842693, 106.689179),
      new google.maps.LatLng(10.842729, 106.688751),
      new google.maps.LatLng(10.966104, 106.669291),
      new google.maps.LatLng(10.966103, 106.669268),
      new google.maps.LatLng(10.966138, 106.669229),
      new google.maps.LatLng(10.966183, 106.669231),
      new google.maps.LatLng(10.966153, 106.669276),
      new google.maps.LatLng(10.966005, 106.669365),
      new google.maps.LatLng(10.965897, 106.669570),
      new google.maps.LatLng(10.965767, 106.669739),
      new google.maps.LatLng(10.965693, 106.670389),
      new google.maps.LatLng(10.965615, 106.671201),
      new google.maps.LatLng(10.965533, 106.672121),
      new google.maps.LatLng(10.965467, 106.672939),
      new google.maps.LatLng(10.965444, 106.674821),
      new google.maps.LatLng(10.965444, 106.674964),
      new google.maps.LatLng(10.965318, 106.675424),
      new google.maps.LatLng(10.963961, 106.675296),
      new google.maps.LatLng(10.963115, 106.675196),
      new google.maps.LatLng(10.962967, 106.675183),
      new google.maps.LatLng(10.962278, 106.675127),
      new google.maps.LatLng(10.961675, 106.675055),
      new google.maps.LatLng(10.960932, 106.674988),
      new google.maps.LatLng(10.959337, 106.674862),
      new google.maps.LatLng(10.973187, 106.681922),
      new google.maps.LatLng(10.973043, 106.682118),
      new google.maps.LatLng(10.973007, 106.682165),
      new google.maps.LatLng(10.972979, 106.682219),
      new google.maps.LatLng(10.972865, 106.682394),
      new google.maps.LatLng(10.972779, 106.682503),
      new google.maps.LatLng(10.972676, 106.682701),
      new google.maps.LatLng(10.972606, 106.682806),
      new google.maps.LatLng(10.972566, 106.682840),
      new google.maps.LatLng(10.972508, 106.682852),
      new google.maps.LatLng(10.972387, 106.683011),
      new google.maps.LatLng(10.972099, 106.683328),
      new google.maps.LatLng(10.971704, 106.683783),
      new google.maps.LatLng(10.971481, 106.684081),
      new google.maps.LatLng(10.971400, 106.684179),
      new google.maps.LatLng(10.971352, 106.684220),
      new google.maps.LatLng(10.971248, 106.684327),
      new google.maps.LatLng(10.970904, 106.684781),
      new google.maps.LatLng(10.970520, 106.685283),
      new google.maps.LatLng(10.970337, 106.685553),
      new google.maps.LatLng(10.970128, 106.685832),
      new google.maps.LatLng(10.969756, 106.686331),
      new google.maps.LatLng(10.969300, 106.686902),
      new google.maps.LatLng(10.969132, 106.687065),
      new google.maps.LatLng(10.969092, 106.687103),
      new google.maps.LatLng(10.968979, 106.687172),
      new google.maps.LatLng(10.968595, 106.687634),
      new google.maps.LatLng(10.968372, 106.687913),
      new google.maps.LatLng(10.968337, 106.687961),
      new google.maps.LatLng(10.968244, 106.688138),
      new google.maps.LatLng(10.967942, 106.688581),
      new google.maps.LatLng(10.967482, 106.689094),
      new google.maps.LatLng(10.967031, 106.689606),
      new google.maps.LatLng(10.966732, 106.689986),
      new google.maps.LatLng(10.966680, 106.690058),
      new google.maps.LatLng(10.966633, 106.690109),
      new google.maps.LatLng(10.966580, 106.690211),
      new google.maps.LatLng(10.966367, 106.690594),
      new google.maps.LatLng(10.965910, 106.691137),
      new google.maps.LatLng(10.965353, 106.691806),
      new google.maps.LatLng(10.964962, 106.692298),
      new google.maps.LatLng(10.964868, 106.692486),
      new google.maps.LatLng(10.964518, 106.692913),
      new google.maps.LatLng(10.963435, 106.694173),
      new google.maps.LatLng(10.962847, 106.694953),
      new google.maps.LatLng(10.962291, 106.695935),
      new google.maps.LatLng(10.962224, 106.696074),
      new google.maps.LatLng(10.961957, 106.696892),
      new google.maps.LatLng(10.961652, 106.698886),
      new google.maps.LatLng(10.961284, 106.699955),
      new google.maps.LatLng(10.961210, 106.700068),
      new google.maps.LatLng(10.961064, 106.700720),
      new google.maps.LatLng(10.961040, 106.701411),
      new google.maps.LatLng(10.961048, 106.702324),
      new google.maps.LatLng(10.960851, 106.703118),
      new google.maps.LatLng(10.959977, 106.704591),
      new google.maps.LatLng(10.959913, 106.704698),
      new google.maps.LatLng(10.959623, 106.705065),
      new google.maps.LatLng(10.958902, 106.705158),
      new google.maps.LatLng(10.958428, 106.704570),
      new google.maps.LatLng(10.957687, 106.703340),
      new google.maps.LatLng(10.957583, 106.703240),
      new google.maps.LatLng(10.957019, 106.702787),
      new google.maps.LatLng(10.956603, 106.702322),
      new google.maps.LatLng(10.956380, 106.701602),
      new google.maps.LatLng(10.955790, 106.701382),
      new google.maps.LatLng(10.954493, 106.702133),
      new google.maps.LatLng(10.954361, 106.702206),
      new google.maps.LatLng(10.953719, 106.702650),
      new google.maps.LatLng(10.953096, 106.702915),
      new google.maps.LatLng(10.951617, 106.703211),
      new google.maps.LatLng(10.951496, 106.703246),
      new google.maps.LatLng(10.950733, 106.703428),
      new google.maps.LatLng(10.950126, 106.703536),
      new google.maps.LatLng(10.950103, 106.703784),
      new google.maps.LatLng(10.950390, 106.704010),
      new google.maps.LatLng(10.950448, 106.704013),
      new google.maps.LatLng(10.950536, 106.704040),
      new google.maps.LatLng(10.950493, 106.704141),
      new google.maps.LatLng(10.810859, 106.662808),
      new google.maps.LatLng(10.810864, 106.662768),
      new google.maps.LatLng(10.810995, 106.662539),
      new google.maps.LatLng(10.811148, 106.662172),
      new google.maps.LatLng(10.811385, 106.661312),
      new google.maps.LatLng(10.811405, 106.660776),
      new google.maps.LatLng(10.811288, 106.660528),
      new google.maps.LatLng(10.811113, 106.660441),
      new google.maps.LatLng(10.811027, 106.660395),
      new google.maps.LatLng(10.811094, 106.660311),
      new google.maps.LatLng(10.811211, 106.660183),
      new google.maps.LatLng(10.811060, 106.659334),
      new google.maps.LatLng(10.810538, 106.658718),
      new google.maps.LatLng(10.810095, 106.658086),
      new google.maps.LatLng(10.829644, 106.657360),
      new google.maps.LatLng(10.829254, 106.656844),
      new google.maps.LatLng(10.828855, 106.656397),
      new google.maps.LatLng(10.828483, 106.655963),
      new google.maps.LatLng(10.828015, 106.655365),
      new google.maps.LatLng(10.827558, 106.654735),
      new google.maps.LatLng(10.827472, 106.654323),
      new google.maps.LatLng(10.827630, 106.654025),
      new google.maps.LatLng(10.827767, 106.653987),
      new google.maps.LatLng(10.827486, 106.654452),
      new google.maps.LatLng(10.826977, 106.655043),
      new google.maps.LatLng(10.826583, 106.655552),
      new google.maps.LatLng(10.826540, 106.655610),
      new google.maps.LatLng(10.826516, 106.655659),
      new google.maps.LatLng(10.826378, 106.655707),
      new google.maps.LatLng(10.826044, 106.655362),
      new google.maps.LatLng(10.825598, 106.654715),
      new google.maps.LatLng(10.825321, 106.654361),
      new google.maps.LatLng(10.825207, 106.654236),
      new google.maps.LatLng(10.825751, 106.654062),
      new google.maps.LatLng(10.825996, 106.653881),
      new google.maps.LatLng(10.826092, 106.653830),
      new google.maps.LatLng(10.825998, 106.653899),
      new google.maps.LatLng(10.825114, 106.654365),
      new google.maps.LatLng(10.825022, 106.654441),
      new google.maps.LatLng(10.824823, 106.654635),
      new google.maps.LatLng(10.824719, 106.654629),
      new google.maps.LatLng(10.825069, 106.654176),
      new google.maps.LatLng(10.825500, 106.653650),
      new google.maps.LatLng(10.825770, 106.653291),
      new google.maps.LatLng(10.825839, 106.653159),
      new google.maps.LatLng(10.822651, 106.660628),
      new google.maps.LatLng(10.822616, 106.660599),
      new google.maps.LatLng(10.822702, 106.660470),
      new google.maps.LatLng(10.822915, 106.660192),
      new google.maps.LatLng(10.823137, 106.659887),
      new google.maps.LatLng(10.823414, 106.659519),
      new google.maps.LatLng(10.823629, 106.659237),
      new google.maps.LatLng(10.823688, 106.659157),
      new google.maps.LatLng(10.823716, 106.659106),
      new google.maps.LatLng(10.823798, 106.659072),
      new google.maps.LatLng(10.823997, 106.659186),
      new google.maps.LatLng(10.824271, 106.659538),
      new google.maps.LatLng(10.824577, 106.659948),
      new google.maps.LatLng(10.824828, 106.660260),
      new google.maps.LatLng(10.824999, 106.660477),
      new google.maps.LatLng(10.825113, 106.660651),
      new google.maps.LatLng(10.825155, 106.660703),
      new google.maps.LatLng(10.825192, 106.660749),
      new google.maps.LatLng(10.825278, 106.660839),
      new google.maps.LatLng(10.825387, 106.660857),
      new google.maps.LatLng(10.825478, 106.660890),
      new google.maps.LatLng(10.825526, 106.661022),
      new google.maps.LatLng(10.825598, 106.661148),
      new google.maps.LatLng(10.825631, 106.661202),
      new google.maps.LatLng(10.825660, 106.661267),
      new google.maps.LatLng(10.843986, 106.686035),
      new google.maps.LatLng(10.844102, 106.685089),
      new google.maps.LatLng(10.844211, 106.684156),
      new google.maps.LatLng(10.843861, 106.683385),
      new google.maps.LatLng(10.843151, 106.683214),
      new google.maps.LatLng(10.842439, 106.683077),
      new google.maps.LatLng(10.841740, 106.682905),
      new google.maps.LatLng(10.841069, 106.682785),
      new google.maps.LatLng(10.840345, 106.682649),
      new google.maps.LatLng(10.819633, 106.682603),
      new google.maps.LatLng(10.819750, 106.681700),
      new google.maps.LatLng(10.819885, 106.680854),
      new google.maps.LatLng(10.819209, 106.680607),
      new google.maps.LatLng(10.815656, 106.660395),
      new google.maps.LatLng(10.815203, 106.660304),
      new google.maps.LatLng(10.978738, 106.675584),
      new google.maps.LatLng(10.978812, 106.675189),
      new google.maps.LatLng(10.978824, 106.675092),
      new google.maps.LatLng(10.978833, 106.674932),
      new google.maps.LatLng(10.978834, 106.674898),
      new google.maps.LatLng(10.978740, 106.674757),
      new google.maps.LatLng(10.978501, 106.674433),
      new google.maps.LatLng(10.978182, 106.674026),
      new google.maps.LatLng(10.977851, 106.673623),
      new google.maps.LatLng(10.977486, 106.673166),
      new google.maps.LatLng(10.977109, 106.672674),
      new google.maps.LatLng(10.976743, 106.672186),
      new google.maps.LatLng(10.976440, 106.671800),
      new google.maps.LatLng(10.976295, 106.671614),
      new google.maps.LatLng(10.976158, 106.671440),
      new google.maps.LatLng(10.975806, 106.670997),
      new google.maps.LatLng(10.975422, 106.670484),
      new google.maps.LatLng(10.975126, 106.670087),
      new google.maps.LatLng(10.975012, 106.669854),
      new google.maps.LatLng(10.975164, 106.669573),
      new google.maps.LatLng(10.975498, 106.669180),
      new google.maps.LatLng(10.975868, 106.668730),
      new google.maps.LatLng(10.976256, 106.668240),
      new google.maps.LatLng(10.976519, 106.667928),
      new google.maps.LatLng(10.976539, 106.667904),
      new google.maps.LatLng(10.976595, 106.667854),
      new google.maps.LatLng(10.976853, 106.667547),
      new google.maps.LatLng(10.977234, 106.667087),
      new google.maps.LatLng(10.977644, 106.666558),
      new google.maps.LatLng(10.978066, 106.666017),
      new google.maps.LatLng(10.978468, 106.665499),
      new google.maps.LatLng(10.978866, 106.664995),
      new google.maps.LatLng(10.979295, 106.664455),
      new google.maps.LatLng(10.979695, 106.663950),
      new google.maps.LatLng(10.979982, 106.663584),
      new google.maps.LatLng(10.820295, 106.663223),
      new google.maps.LatLng(10.820664, 106.662766),
      new google.maps.LatLng(10.821043, 106.662288),
      new google.maps.LatLng(10.821399, 106.661823),
      new google.maps.LatLng(10.821727, 106.661407),
      new google.maps.LatLng(10.821853, 106.661247),
      new google.maps.LatLng(10.821894, 106.661195),
      new google.maps.LatLng(10.822076, 106.660977),
      new google.maps.LatLng(10.822338, 106.660603),
      new google.maps.LatLng(10.822666, 106.660133),
      new google.maps.LatLng(10.823048, 106.659634),
      new google.maps.LatLng(10.823450, 106.659198),
      new google.maps.LatLng(10.823791, 106.658998),
      new google.maps.LatLng(10.824177, 106.658959),
      new google.maps.LatLng(10.824388, 106.658971),
      new google.maps.LatLng(10.824404, 106.659128),
      new google.maps.LatLng(10.824586, 106.659524),
      new google.maps.LatLng(10.824835, 106.659927),
      new google.maps.LatLng(10.825116, 106.660307),
      new google.maps.LatLng(10.825282, 106.660539),
      new google.maps.LatLng(10.825346, 106.660692),
      new google.maps.LatLng(10.965769, 106.667201),
      new google.maps.LatLng(10.965790, 106.667414),
      new google.maps.LatLng(10.965802, 106.667755),
      new google.maps.LatLng(10.965791, 106.668219),
      new google.maps.LatLng(10.965763, 106.668759),
      new google.maps.LatLng(10.965726, 106.669348),
      new google.maps.LatLng(10.965716, 106.669882),
      new google.maps.LatLng(10.965708, 106.670202),
      new google.maps.LatLng(10.965705, 106.670253),
      new google.maps.LatLng(10.965707, 106.670369),
      new google.maps.LatLng(10.965692, 106.670720),
      new google.maps.LatLng(10.965699, 106.671215),
      new google.maps.LatLng(10.965687, 106.671789),
      new google.maps.LatLng(10.965666, 106.672373),
      new google.maps.LatLng(10.965598, 106.672883),
      new google.maps.LatLng(10.965543, 106.673039),
      new google.maps.LatLng(10.965532, 106.673125),
      new google.maps.LatLng(10.965500, 106.673553),
      new google.maps.LatLng(10.965448, 106.674053),
      new google.maps.LatLng(10.965388, 106.674645),
      new google.maps.LatLng(10.965323, 106.675250),
      new google.maps.LatLng(10.965303, 106.675847),
      new google.maps.LatLng(10.965251, 106.676439),
      new google.maps.LatLng(10.965204, 106.677020),
      new google.maps.LatLng(10.965172, 106.677556),
      new google.maps.LatLng(10.965164, 106.678075),
      new google.maps.LatLng(10.965153, 106.678618),
      new google.maps.LatLng(10.965136, 106.679112),
      new google.maps.LatLng(10.965129, 106.679378),
      new google.maps.LatLng(10.965119, 106.679481),
      new google.maps.LatLng(10.965100, 106.679852),
      new google.maps.LatLng(10.965083, 106.680349),
      new google.maps.LatLng(10.965045, 106.680930),
      new google.maps.LatLng(10.964992, 106.681481),
      new google.maps.LatLng(10.964980, 106.681695),
      new google.maps.LatLng(10.964993, 106.681843),
      new google.maps.LatLng(10.964986, 106.682255),
      new google.maps.LatLng(10.964975, 106.682823),
      new google.maps.LatLng(10.964939, 106.683411),
      new google.maps.LatLng(10.964902, 106.684014),
      new google.maps.LatLng(10.964853, 106.684576),
      new google.maps.LatLng(10.964826, 106.684922),
      new google.maps.LatLng(10.964796, 106.685375),
      new google.maps.LatLng(10.964782, 106.685869),
      new google.maps.LatLng(10.964768, 106.686089),
      new google.maps.LatLng(10.964766, 106.686117),
      new google.maps.LatLng(10.964723, 106.686276),
      new google.maps.LatLng(10.964681, 106.686649),
      new google.maps.LatLng(10.822012, 106.664200),
      new google.maps.LatLng(10.821574, 106.664911),
      new google.maps.LatLng(10.821055, 106.665597),
      new google.maps.LatLng(10.820479, 106.666341),
      new google.maps.LatLng(10.979996, 106.666939),
      new google.maps.LatLng(10.979459, 106.667613),
      new google.maps.LatLng(10.978953, 106.668228),
      new google.maps.LatLng(10.978409, 106.668839),
      new google.maps.LatLng(10.977842, 106.669501),
      new google.maps.LatLng(10.977334, 106.670181),
      new google.maps.LatLng(10.976809, 106.670836),
      new google.maps.LatLng(10.976240, 106.671514),
      new google.maps.LatLng(10.975725, 106.672145),
      new google.maps.LatLng(10.975190, 106.672805),
      new google.maps.LatLng(10.974672, 106.673464),
      new google.maps.LatLng(10.974084, 106.674186),
      new google.maps.LatLng(10.973533, 106.673636),
      new google.maps.LatLng(10.973021, 106.673009),
      new google.maps.LatLng(10.972501, 106.672371),
      new google.maps.LatLng(10.971964, 106.671681),
      new google.maps.LatLng(10.971479, 106.671078),
      new google.maps.LatLng(10.970992, 106.670477),
      new google.maps.LatLng(10.970467, 106.669801),
      new google.maps.LatLng(10.970090, 106.668904),
      new google.maps.LatLng(10.969657, 106.668103),
      new google.maps.LatLng(10.969132, 106.667276),
      new google.maps.LatLng(10.968564, 106.666469),
      new google.maps.LatLng(10.967980, 106.665745),
      new google.maps.LatLng(10.967380, 106.665299),
      new google.maps.LatLng(10.966604, 106.665297),
      new google.maps.LatLng(10.965838, 106.665200),
      new google.maps.LatLng(10.965139, 106.665139),
      new google.maps.LatLng(10.964457, 106.665094),
      new google.maps.LatLng(10.963716, 106.665142),
      new google.maps.LatLng(10.962932, 106.665398),
      new google.maps.LatLng(10.962126, 106.665813),
      new google.maps.LatLng(10.961344, 106.666215),
      new google.maps.LatLng(10.960556, 106.666495),
      new google.maps.LatLng(10.959732, 106.666484),
      new google.maps.LatLng(10.958910, 106.666228),
      new google.maps.LatLng(10.958182, 106.665695),
      new google.maps.LatLng(10.957676, 106.665118),
      new google.maps.LatLng(10.957039, 106.664346),
      new google.maps.LatLng(10.956335, 106.663719),
      new google.maps.LatLng(10.955503, 106.663406),
      new google.maps.LatLng(10.954665, 106.663242),
      new google.maps.LatLng(10.953837, 106.663172),
      new google.maps.LatLng(10.952986, 106.663112),
      new google.maps.LatLng(10.951266, 106.663355)
    ];
  }
</script> --}}
{{/extend}}
